@import '../../App.scss';

.placeVisit {
  margin: 0 2.5% 0 2.5%;
  width: 37.5%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .title {
    font: {
      family: $fontFamily;
      size: 1.3rem;
      weight: 900;
    }
    margin: 0 0 3vh 0;

    span {
      font-weight: 100;
    }
  }

  .reviews {
    height: 31px;
    margin: 0 0 3vh 0;
  }
}
