@import '../../../App.scss';

$small: 80px;
$medium: 130px;
$large: 230px;
$borderRadiusCards: 25px;

.card {
  width: 47%;
  height: 230px;
  border-radius: $borderRadiusCards;
  color: white;
  background: {
    color: gray;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);

  .info {
    display: flex;
  }

  .infoTitles {
    margin: 20px 0 0 8px;
  }

  .placeTitle,
  .cityTitle {
    margin: 0;
    font-weight: 600;
    width: 70%;
  }

  i {
    margin: 20px 0 0 15px;
  }

  .addBtn {
    background-color: $purple;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 100;
    border-radius: $borderRadiusCards;
    width: 30%;
    height: 100%;
    border: 0;
    outline: none;
  }
}

.small {
  height: $small;
}

.medium {
  height: $medium;
}

.large {
  height: $large;
  .placeTitle,
  .cityTitle {
    width: 100%;
  }
}
