$purple: #7768e5;
$fontFamilyPlace: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontFamily: 'Poppins', sans-serif;
$fontFamilyNumbers: 'Teko', sans-serif;
$borderRadius: 30px;

body {
  background-color: #e3e8ed;
  font-family: $fontFamily;
  margin: 0;
}

.App {
  width: 85vw;
  max-width: 1040px;
  min-height: 734.24px;
  background-color: white;
  margin: 10vh auto;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.fa-bolt,
.fa-cloud-rain,
.fa-cloud-showers-heavy,
.fa-snowflake,
.fa-cloud {
  color: $purple;
}

.fa-sun {
  color: #f8ca4d;
}

@media only screen and (max-width: 1000px) {
  .App {
    min-height: auto;
    margin: 50px auto;
    width: 90vw;
  }

  .logoContainer {
    position: static;
    width: 0;
    height: 0;
    text-align: center;
    top: 0;
    right: 0;
    .logo {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 5px;
      right: 3vw;
    }
  }

  .topBanner {
    margin: 12.6px auto 20px;
    min-height: 313px;

    .title {
      margin: 2vh 0 0 15%;
    }

    .title i {
      margin: 0 0.2vw 0 0;
    }

    .map {
      width: 70px;
      margin: 2vh 0 0 25%;
    }

    .degrees {
      width: max-content;
      margin: -100px 0 0 -3.8%;
    }
  }

  .threeDays,
  .placeVisit,
  .cities {
    margin: 0 5% 20px;
    width: 100% !important;
    height: auto !important;
  }

  .threeDays {
    .title {
      margin: 0 0 1vh 0;
    }
  }

  .placeVisit {
    flex-direction: column;

    .title {
      margin: 0 0 1vh 0;
    }

    .reviews {
      width: 100%;
    }
  }
}
